.Dictionary section{
  background-color: #fff;
  padding: 30px;
  margin: 20px 10px;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.Dictionary input {
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 6px 10px;
    color: #333;
    border: 1px solid #ddd; 
    border-radius: 8px;
}
.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.Dictionary .logo{
  max-width: 100px;
  display: block;
  margin: 20px auto;
}
.Dictionary h1{
  margin-bottom: 40px;
}